:root {
  --primaryColor: #1c92d2;
  --white: #ffff;
  --secundaryColor: #90caf9;
  --btn: #3f527d;
  --btnHover: #a8c7ca;
}

body {
  background: var(--primaryColor);
  background: -webkit-linear-gradient(
    to right,
    var(--white),
    var(--primaryColor)
  );
  background: linear-gradient(to right, var(--white), var(--primaryColor));
}

.btn-3 {
  background-color: transparent;
  border-width: 2px;
  border-color: var(--btn);
  border-radius: 5px;
  color: var(--btn);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-3:hover {
  background-color: var(--btn);
  color: var(--btnHover);
  border-color: var(--btn);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: 240px;
  /* object-cover: cover; */
  border-radius: 8px;
  transition: transform 0.2s, border-color 0.2s;
  border-width: 4px;
  border-color: transparent;
}

.gallery-image:hover {
  border-color: var(--primaryColor);
  transform: scale(1.05);
}

.txtPaginator {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primaryColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.txtPaginator:hover {
  background-color: var(--secundaryColor);
  color: black;
}

.titulo {
  font-size: 30px;
  font-weight: 700;
  color: var(--white);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}
